<div class="book-summary">
    <nav role="navigation">
        <!-- <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/search.html">Click to Search</a>
        </div> -->
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <h2>
                    <a href="{{site.baseurl}}/">
                        {{ site.title | escape }}
                    </a>
                </h2>
            </li>

            <li class="divider"></li>

            {% for collection in site.collections %}
                <!-- <p>{{ collection.label }}</p> -->
                {% if collection.output %}
                    {% assign reversed_posts = site[collection.label] | reverse %}

                    {% for post in reversed_posts %}
                        {% if page.url == post.url %}
                            <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                        {% else %}
                            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                        {% endif %}

                        {% if post.show_chapter == 1 %}
                            <h4>&nbsp;&nbsp;1. Pek-the kho『鷿鷈科』</h4>
                        {% elsif post.show_chapter == 2 %}
                            <h4>&nbsp;&nbsp;2. Thê-hô͘ kho『鵜鶘科』</h4>
                        {% elsif post.show_chapter == 3 %}
                            <h4>&nbsp;&nbsp;3. Kian-chiáu kho『鰹鳥科』</h4>
                        {% elsif post.show_chapter == 4 %}
                            <h4>&nbsp;&nbsp;4. Lô͘-chî kho『鸕鶿科』</h4>
                        {% elsif post.show_chapter == 5 %}
                            <h4>&nbsp;&nbsp;5. Lō͘ kho『鷺科』</h4>
                        {% elsif post.show_chapter == 6 %}
                            <h4>&nbsp;&nbsp;6. Chu-lō͘ kho『朱鷺科』</h4>
                        {% elsif post.show_chapter == 7 %}
                            <h4>&nbsp;&nbsp;7. Gān-ah kho『雁鴨科』</h4>
                        {% elsif post.show_chapter == 8 %}
                            <h4>&nbsp;&nbsp;8. Chiū-eng kho『鷲鷹科』</h4>
                        {% elsif post.show_chapter == 9 %}
                            <h4>&nbsp;&nbsp;9. Go̍k kho『鶚科』</h4>
                        {% elsif post.show_chapter == 10 %}
                            <h4>&nbsp;&nbsp;10. Chún kho『隼科』</h4>
                        {% elsif post.show_chapter == 11 %}
                            <h4>&nbsp;&nbsp;11. Thī kho『雉科』</h4>
                        {% elsif post.show_chapter == 12 %}
                            <h4>&nbsp;&nbsp;12. Ho̍h kho『鶴科』</h4>
                        {% elsif post.show_chapter == 13 %}
                            <h4>&nbsp;&nbsp;13. Iong-ke kho『秧雞科』</h4>
                        {% elsif post.show_chapter == 14 %}
                            <h4>&nbsp;&nbsp;14. Chúi-thī/tī kho『水雉科』</h4>
                        {% elsif post.show_chapter == 15 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 16 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 17 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 18 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 19 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 20 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 21 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 22 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 23 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 24 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 25 %}
                            <h4>&nbsp;&nbsp;科名</h4>
                        {% elsif post.show_chapter == 26 %}
                            <h4>&nbsp;&nbsp;科名</h4>    
                        {% endif %} 

                        {% if collection.label == "posts" %}
                            <b>
                        {% endif %}
                        <a href="{{site.baseurl}}{{post.url}}">
                            <!-- {% if collection.label == "posts" %}
                                &nbsp;
                            {% endif %} -->
                            {{ post.title | escape }}
                        </a>
                        {% if collection.label == "posts" %}
                            </b>
                        {% endif %}

                        <!-- {% if site.toc.enabled %}
                            {% if page.url == post.url %}
                                <font size="2">
                                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                </font>
                            {% endif %}
                        {% endif %} -->
                        
                        </li>
                    {% endfor %}

                    {% if collection.label == "posts" %}
                        <br>
                    {% endif %}
                    
                    <li class="divider"></li>
                {% endif %}
            {% endfor %}

            <br>&nbsp;&nbsp;© Siau Lah-jih（蕭平治）<br><br><br>

            <!-- <li>
                <a href="https://github.com/sighingnow/jekyll-gitbook/fork" target="blank" class="gitbook-link">
                    Fork it Now!
                </a>
            </li> -->
        </ul>
    </nav>
</div>
